.NavbarContainer{
    width: 100%;
    background-color: darkmagenta;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    padding: 1vmax;
    align-items: center;
}

.Staggered{
    display: none;
}

.navSlide{
    display: none;
}

.NavbarContainer .NavbarLeft{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavbarContainer .Navbarcenter{
   width: 70%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.NavbarContainer .Navbarcenter h1{
    font: 600 1.5vmax sans-serif;
}

.NavbarContainer .NavbarRight{
    width: 10%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.earth{
    color: white;
  font-size: 28px;
}


img{
    width: 150px;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .NavbarContainer{
        width: 100%;
        height: 12vh;
        display: flex;
        justify-content: space-between;
        padding: 1vmax;
        align-items: center;
    }

    .Staggered{
        display: flex;
    }

    .navSlide{
        display: flex;
    }
    
    .NavbarContainer .NavbarLeft{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .NavbarContainer .Navbarcenter{
       width: 70%;
       display: none;
       justify-content: center;
       align-items: center;
    }
    
    .NavbarContainer .Navbarcenter h1{
        font: 600 1.5vmax sans-serif;
    }
    
    .NavbarContainer .NavbarRight{
        width: 35%;
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
    
    .earth{
      font-size: 30px;
    }
    
    
    img{
        width: 150px;
    }
}